.displayText{
    display: flex;
    gap: 40px;
}

.diff-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .diff-block {
    width: 48%;
  }
  
  .diff-result {
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 100px;
  }
  
  .diff-original {
    background-color: #ffcccc;
    color: red;
    padding: 2px;
    white-space: pre;
  }
  
  .diff-changed {
    background-color: #ccffcc;
    color: green;
    padding: 2px;
    white-space: pre;
  }
  
  .diff-equal {
    padding: 2px;
    white-space: pre;
  }
  
  textarea {
    padding: 20px;
    width: 300px;
    height: 200px;
    margin: 10px 0;
  }
  
  button {
    margin: 10px 0;
  }
  